//partials = 페이지의 일부분

header.header
    .header__column
        a(href= routes.home)
        i.fab.fa-youtube
    .header__column
        ul
            li
                a(href=routes.join) JOIN
            li
                a(href=routes.login) LOGIN